{
  "parser": "babel-eslint",
  "extends": ["airbnb", "prettier"],
  "plugins": ["react", "jsx-a11y", "import", "prettier"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": "error",
    "global-require": 0,
    "no-confusing-arrow": 0,
    "no-plusplus": 0,
    "no-return-assign": 0,
    "no-underscore-dangle": 0,
    "react/no-danger": 0,
    "react/forbid-prop-types": 0,
    "import/no-extraneous-dependencies": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }]
  }
}
