@import "../../css/variables.scss";
@import "../../css/body.scss";

.button {
	transition: all .2s !important;
  background-color: $button-color !important;
  background-image: none !important;
  border-color: transparent !important;
  border-radius: $border-radius !important;
  border: 2px solid transparent !important;
  color: contrast($button-color) !important;
  cursor: pointer !important;
  display: inline-block !important;
  font-family: inherit !important;
  font-size: .9rem !important;
  line-height: 1.5rem !important;
  padding: .25rem 1rem !important;
  text-align: center !important;
  text-decoration: none !important;
  user-select: none;
	white-space: nowrap !important;
	outline: none !important;
}

.button:not(.button--primary):not(.button--link):not(.button--subtle):active {
	background-color: darken($button-color, 15%) !important;
}

.button:hover {
	background-color: darken($button-color, 10%) !important;
}

.button--icon-o {
  padding: .25rem .50rem !important;
}

.button--primary {
	background-color: $primary-color !important;
	color: contrast($primary-color) !important;

	&:hover {
		background-color: darken($primary-color, 10%) !important;
	}
	&:active {
		background-color: darken($primary-color, 15%) !important;
	}
}

.button--link {
	background-color: transparent !important;
	color: $primary-color !important;
  padding: .25rem 0.5rem !important;
	
	&:hover {
		background-color: transparent !important;
		text-decoration: underline !important;
	}
	&:focus {
		background-color: transparent !important;
		text-decoration: underline !important;
	}
}

.button--subtle {
	background-color: transparent !important;
	
	&:hover {
		background-color: $button-color !important;
	}
	&:active {
		background-color: lighten($primary-color, 40%) !important;
		color: $primary-color !important;
	}
}

.button--disabled {
	opacity: 0.50 !important;
	pointer-events: none !important;
  cursor: default !important;
}

.button--loading {
  background-color: $button-color !important;
  color: contrast($button-color) !important;
	pointer-events: none !important;
	cursor: default !important;
}