html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

progress {
  vertical-align: baseline;
}

template,
[hidden] {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline-width: 0;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background-color: #1565c0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

button,
input,
select,
textarea {
  font: inherit;
}

optgroup {
  font-weight: bold;
}

button,
input,
select {
  overflow: visible;
}

button,
input,
select,
textarea {
  margin: 0;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
}

[disabled] {
  cursor: default;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

button:-moz-focusring,
input:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

pre,
code,
sub,
sup,
fieldset,
form,
label,
legend,
details,
embed,
menu,
summary,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
figure,
ol,
ul,
caption,
dl,
dt,
dd,
ol,
ul,
li {
  margin: 0;
  padding: 0;
}

blockquote,
q {
  quotes: none;
}
  blockquote:before, blockquote:after,
  q:before,
  q:after {
    content: "";
    content: none;
  }

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  border: 0;
}

small {
  font-size: 16px;
}

sub,
sup {
  font-size: 16px;
}

sup {
  top: -0.5rem;
}

sub {
  bottom: -.25rem;
}

code,
kbd,
pre,
samp {
  font-size: 16px;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

optgroup {
  font-weight: 600;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  font-size: 16px;
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  color: #222;
}

h1 {
  font-size: 1.75rem;
  line-height: 1.2;
}

h2 {
  font-size: 1.375rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.125rem;
  line-height: 1.2;
}

h4 {
  font-size: 1rem;
  line-height: 1.3;
}

h5 {
  font-size: 0.875rem;
  line-height: 1.3;
}

h6 {
  font-size: 0.75rem;
  line-height: 1.3;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

.slab h6,
h6.slab {
  font-family: "Proxima Nova", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #0f65ef;
}
  a:hover {
    color: #093c8f;
    transition: color .15s ease 0s;
  }

strong,
b {
  font-weight: 600;
}

em,
i {
  font-style: italic;
}

ol,
ul {
  font-variant-numeric: tabular-nums;
  -moz-font-feature-settings: "tnum" 1;
  -moz-font-feature-settings: "tnum=1";
  -webkit-font-feature-settings: 'tnum' 1;
  font-feature-settings: 'tnum' 1;
  padding-left: 2rem;
}

table {
  font-variant-numeric: tabular-nums;
  -moz-font-feature-settings: "tnum" 1;
  -moz-font-feature-settings: "tnum=1";
  -webkit-font-feature-settings: 'tnum' 1;
  font-feature-settings: 'tnum' 1;
  border-collapse: separate;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
}

th {
  text-align: left;
  font-weight: 600;
  vertical-align: bottom;
}

th,
td {
  padding: 0.5rem;
}

td {
  vertical-align: middle;
}