$border-radius: 3px;
$primary-color: #0f65ef;

$button-color: #f1f2f4;

$icon-fill: #fff;
$icon-color: #384047;

$avatar-background-color: #f1f2f4;
$avatar-color: #8c8c8c;

@function contrast($color) {
  @return if(lightness($color) < 51, #FFF, rgba(#000, .70));
}